table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }
  
  .title{
  padding: 30px;
  background-color: #666;
  text-align: center;
  color: white
  }
  
  .container{
    
    margin: 1% 15%
  }

  .btn {
    margin-right: 10px;
  }